body {
  margin-top: 0px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.mainNav {
  border: none;
  cursor: auto;
}

.header {
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropTitle {
  background-color: cornflowerblue;
  /*list-style-type: none;*/
  padding: 1em 2em;
  /*margin: 1em 2em;*/
  font-size: 1.5em;
  vertical-align: middle;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 5px 5px;
    font-size: 1.5em;
    background-color: cornflowerblue;
    border-width: 0px 0px 1px;
    border-style: solid;
}

.dropdown-content a:last-of-type {
    border-width: 0px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 100%;
    text-align: center;
}

.dropdown:hover .dropTitle,
.mainNav:hover {
    background-color: #3e8e41;
}

.logo {
  max-width: 25px;
  vertical-align: middle;
}


@media print {
  .header {
      display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .header {
    /*flex-direction: column;*/
    flex-wrap: wrap;
  }

  .dropdown {
    width: 30%
  }

  .mainNav, .topNav {
    width: 100%;
    margin-bottom: 3px;
  }

  .mainNav, .dropdown {
    text-align: center;
  }

  .dropTitle {
    padding: 0.25em 1em;
  }
}
