/*center the table on the page with some space on either side*/
.tableContainer {
  margin:auto;
  width: 95%;
}

/*overall table formatting*/
.OvenTable {
  font-family: serif;
  border:1px solid #C0C0C0;
  border-collapse:collapse;
  margin:5px;
  width: 100%;
  font-size: 2vw;
  text-align: center;
  font-weight: normal;

}
.OvenTable th {
  border:1px solid #C0C0C0;
  padding:5px;
  background:#F0F0F0;
}
.OvenTable td {
  border:1px solid #C0C0C0;
  padding:5px;
}

/*bold the important labeling information*/
.thermostatNumber,
.titleRow,
.labelRow {
  font-weight: bold;
}

/*intermediate size formating*/
@media only screen and (max-width: 800px) {
  .OvenTable {
      font-size: 3vw;
  }
}
/*intermediate size formating*/
@media only screen and (max-width: 600px) {
  .OvenTable {
      font-size: 6vw;
  }
}

/*small size formating*/
@media only screen and (max-device-width: 414px) and (orientation: portrait) {
  .OvenTable {
      font-size: 10vw;
  }
  .copiedLabel, .copiedTitle {
    /*display: none;*/
  }
}

/*for larger screens, float the tables to wrap them*/
@media only screen and (min-device-width: 415px) and (min-width: 801px) {
  .OvenTable {
      font-size: 2vw;
      width: 15%;
      float: left;
  }
}

/*minimize size for printing and float the tables to wrap them*/
@media only print {
  .OvenTable {
      font-size: 0.97vw;
      width: 10%;
      float: left;
  }
}
