html {
  background-color: #fff;
}
body div{
  background-color: #fff;
}
a {
  text-decoration: none;
}

.viewtable {
  border:1px solid #C0C0C0;
  border-collapse:collapse;
  padding:5px;
  width: 100%;
  font-size: 2vw;
  text-align: center;
  font-weight: bold;
}
.viewtable th {
  border:1px solid #C0C0C0;
  padding:5px;
  background:#F0F0F0;
}
.viewtable td {
  border:1px solid #C0C0C0;
  padding:5px;
}

button {
  min-width: 190px;
  margin-top: 5px;
}

.next {
  float: right;
}

.previous {
  float: left;
}


#chart_div1,
#chart_div2{
	clear: both;
	border-width: 3px 0;
	border-style: dotted none;
}



@media (max-height: 800px) {
  .ca5stations {
		height: 280px;
	}
	.ca51 {
		height: 280px;
	}
	.ca52 {
		height: 280px;
	}
}
@media (min-height: 801px) and (max-height: 1024px) {
  .ca5stations {
		height: 400px;
	}
	.ca51 {
		height: 450px;
	}
	.ca52 {
		height: 350px;
	}
}
@media (min-height: 1025px) {
  .ca5stations {
		height: 500px;
	}
	.ca51 {
		height: 500px;
	}
	.ca52 {
		height: 500px;
	}
}

@media print {
  button {
      display: none;
  }
}
