/*center the table on the page with some space on either side*/
.viewTable,
.viewTitle,
.viewOptions,
.addNew,
.recordTitle,
.recordForm {
  margin:auto;
  /*width: 95%;*/
  text-align: center;
}

.viewTable tr {
  font-size: 2vw;
}

.viewTable tr:nth-child(even) {
  background-color: lightgrey;
}

@media (max-width: 900px) {
  .viewTable tr {
    font-size: 3vw;
    word-wrap: normal;
  }
}
